@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src:
    url('../../public/fonts/InterVariable.woff2') format('woff2'),
    url('../../public/fonts/InterVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-feature-settings: 'ss01', 'ss08', 'tnum', 'calt', 'dlig', 'cv01', 'cv08',
    'cv05';
}

@font-face {
  font-family: 'Inter';
  src:
    url('../../public/fonts/InterVariable-Italic.woff2') format('woff2'),
    url('../../public/fonts/InterVariable-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-feature-settings: 'ss01', 'ss08', 'tnum', 'calt', 'dlig', 'cv01', 'cv08',
    'cv05';
  /* font-feature-settings: 'ss02', 'tnum', 'calt', 'dlig'; */
}
@layer base {
  html {
    @apply font-sans;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.dark {
  @apply bg-slate-600 text-slate-200;
}
.light {
  @apply bg-slate-50 text-slate-700;
}
